# Análisis e Implementación en SparkQL

* Entrega hasta el 24 de mayo en https://forms.gle/aRiWtjayausRFCTd8

* Los dos conjuntos de datos entregados, CSV separados por coma, Evaluación del Pitch (2021.04.13 ISoftware).csv y Asistencia del Pitch (2021.04.13 ISoftware).csv proceden de dos encuestas realizadas con Google Forms.

* Los archivos proceden de las evaluaciones de los pitch (exposiciones cortas de negocio) que realizan los estudiantes de la asignatura de Ingeniería de Software. Los estudiantes están organizados en equipos. Cada equipo realiza una presentación de máximo 15 minutos, una vez inicia la presentación todos los estudiantes deben registrar su asistencia lo cual queda registrado en 'Asistencia del Pitch (2021.04.13 ISoftware).csv' incluidos los miembros del equipo.

* El archivo `Asistencia del Pitch (2021.04.13 ISoftware).csv` contiene las columnas: `"Marca temporal"` es tiempo dado en fecha y hora, `"Nombre de usuario"` es el correo electrónico del estudiante y es texto,`"Equipo al que perteneces:"` equipo de trabajo al que pertenece el estudiante también es texto y `"Equipo que va a exponer:"` equipo que el estudiante va a tender a su presentación.

* El archivo `Evaluación del Pitch (2021.04.13 ISoftware).csv` contiene las columnas `"Marca temporal"` es tiempo dado en fecha y hora, `"Nombre de usuario"` es el correo electrónico del estudiante y es texto, `"Equipo que vas a evaluar:"` equipo que ha expuesto y que va a ser evaluado por cada estudiante que no sea integrante; a continuación, se tienen las siguientes columnas que corresponden a la evaluación de los respectivos ítems:

    1. "Introducción: El equipo responde adecuadamente ¿Quiénes son y por qué están aquí?",
    2. "Equipo: El equipo responde adecuadamente ¿Quiénes están detrás de la idea y cuál es su función?",
    3. "Problema: El equipo responde adecuadamente ¿Qué problema resolverá?, ¿es realmente un problema?",
    4. "Ventajas: El equipo responde adecuadamente ¿Por qué su solución es especial?, ¿qué la hace distinta de otras?",
    5. "Solución: El equipo responde adecuadamente ¿Cómo piensa resolver el problema?",
    6. "Producto: El equipo responde adecuadamente ¿Cómo funciona el producto o servicio? Muestra algunos ejemplos.",
    7. "Tracción: El equipo responde adecuadamente si cuenta con clientes que demuestran potencial.",
    8. "Mercado: El equipo responde conoce, o por lo menos intentar predecir, el tamaño del mercado que impactará.",
    9. "Competencia: El equipo responde adecuadamente ¿Cuáles son las soluciones alternativas al problema que plantea?",
    10. "Modelo de negocio: El equipo responde adecuadamente ¿Cómo hará dinero? ",
    11. "Inversión: El equipo responde adecuadamente ¿Cuál es su presupuesto y cuánto espera ganar?",
    12. "Contacto: El equipo deja los datos al cliente y muestra cómo pueden contactarle.",
    13. "Exposición: ¿Qué tan coordinados estaban los expositores?",
    14. "Exposición: ¿Los expositores se expresaron con claridad y se hicieron entender?",
    15. "Exposición: Las diapositivas son claras y coherentes y apoyaron adecuadamente la exposición.",
    * "Suponiendo que eres inversionista, ¿Estarías dispuesto a invertir dinero en este equipo? (esta pregunta no se pondera en la nota)",
    * "Observaciones para el equipo, estas observaciones las debe considerar el equipo para mejorar la siguiente presentación."


* Cada ítem se evalúa con la siguiente escala: 0. Ausente; 1. Deficiente; 2. Regular; 3. Aceptable; 4. Bueno; 5. Excelente

* Carge los datos, cada archivo en una tabla SparkSQL y responda cada una de las consultas dadas en cada celda. Tenga en cuenta que algunas consultas pueden tener como resultado el vacío.

# Integrantes del equipo
1. María Alejandra Vásquez Olaya
2. Deicy Andrea Zapata Vásquez
3. David
4. Adrian Andres Landazuri Rivas
5. Wilson Fernando Espitia Humanez
6. Mónica María Quiñones Montes

In [1]:
# Agrege acá el código para importar las librerias

# La libreria para "encontrar el sevicio" de Spark
import findspark
findspark.init()

# Librerias para "gestionar el servicio" de Spark
from pyspark import SparkConf, SparkContext
from pyspark.sql import SQLContext, SparkSession

# Creamos una aplicación Spark en el Servicio
# Tenga cuidado con las tildes o caracteres especiales en el nombre de la app
AppSpark = SparkConf().setAppName("Evaluacion iSofware")

# definimos un espacio o contexto para la App
ContextoSpark=SparkContext(conf=AppSpark)

# inicio una sesión en el espacio de la App
SesionSpark = SparkSession(ContextoSpark)

# inicio del espacio o contexto SQL
ContextoSql = SQLContext(sparkContext=ContextoSpark, sparkSession=SesionSpark)

In [2]:
## Se limpia el archivo, elimina saltos de línea y líneas en null.

import pandas as pd

##Primera ejecución, cambio de nombre
#!mv 'Asistencia del Pitch (2021.04.13 ISoftware).csv' 'asistencia.csv'
#!mv 'Evaluacion del Pitch (2021.04.13 ISoftware).csv' 'evaluacion.csv'

evaluacion = pd.read_csv("evaluacion.csv")

for row in evaluacion:
    row.replace(';','')
    row.replace('\n','')

##how = 'all' drop the row/column only if all the values in the row/column are null.
##axis = 0 0/’index’ represents dropping rows
evaluacion.dropna(axis=0,how='all')
    
evaluacion.to_csv('evaluacion2.csv')

In [3]:
# 1. Cargue los datos en la carpeta datalake y luego del /datalake al HDFS (Hadoop File System)
# Recuerda usar ! para ejecutar el comando en el shell. 
# Tu código a continuación...

##Elimina y crea carpeta en sistema de hadoop
!hdfs dfs -rm -f -r /tmp/data
!hdfs dfs -mkdir /tmp/data 

##Copia archivos del local
!hdfs dfs -copyFromLocal ./asistencia.csv  /tmp/data/asistencia.csv
!hdfs dfs -copyFromLocal ./evaluacion2.csv  /tmp/data/evaluacion.csv

In [4]:
##Revisa creación de archivos
!hdfs dfs -ls /tmp/data

Found 2 items
-rw-r--r--   1 root supergroup      93121 2021-05-13 19:59 /tmp/data/asistencia.csv
-rw-r--r--   1 root supergroup      91286 2021-05-13 19:59 /tmp/data/evaluacion.csv

In [46]:
##Código para reemplazar datos en DF de Spark
#from pyspark.sql.functions import *
#newDf = df_evaluacion.withColumn('observaciones', regexp_replace('observaciones', '\n', ''))

In [5]:
# 2. Cree dos tablas SparkSQL y almacene el csv en su correspondiente tabla.
# Observación: tenga especial cuidado con los encabezados de los archivos CSV.
# Usted puede considerar cambiar los encabezados de los CSV originales
# Tu código a continuación...

##Crea DataFrame para asistencia
df = SesionSpark.read.load("/tmp/data/asistencia.csv",
                     format="csv",
                     sep=",",
                     inferSchema="true",
                     header="true")

##Renombra columnas de DF asistencia
df_asistencia = df.withColumnRenamed("Marca temporal","fecha")\
    .withColumnRenamed("Nombre de usuario","nombre_usuario")\
    .withColumnRenamed("Equipo al que perteneces:","equipo_pertenece")\
    .withColumnRenamed("Equipo que va a exponer:","equipo_expone")

##Crea tabla temporal asistencia
df_asistencia.createOrReplaceTempView('asistencia')



##Crea DataFrame para evaluacion
df2 = SesionSpark.read.load("/tmp/data/evaluacion.csv",
                     format="csv",
                     sep=",",
                     inferSchema="true",
                     header="true")

##Renombra columnas de DF evaluacion
df_evaluacion = df2.withColumnRenamed("Marca temporal","Fecha")\
    .withColumnRenamed("Nombre de usuario","nombre_usuario")\
    .withColumnRenamed("Equipo que vas a evaluar:","Equipo_evaluar")\
    .withColumnRenamed("Introducción: El equipo responde adecuadamente ¿Quiénes son y por qué están aquí?","introduccion")\
    .withColumnRenamed("Equipo: El equipo responde adecuadamente ¿Quiénes están detrás de la idea y cuál es su función?","equipo")\
    .withColumnRenamed("Problema: El equipo responde adecuadamente ¿Qué problema resolverá?, ¿es realmente un problema?","problema")\
    .withColumnRenamed("Ventajas: El equipo responde adecuadamente ¿Por qué su solución es especial?, ¿qué la hace distinta de otras?","ventajas")\
    .withColumnRenamed("Solución: El equipo responde adecuadamente ¿Cómo piensa resolver el problema?","solucion")\
    .withColumnRenamed("Producto: El equipo responde adecuadamente ¿Cómo funciona el producto o servicio? Muestra algunos ejemplos.","producto")\
    .withColumnRenamed("Tracción: El equipo responde adecuadamente si cuenta con clientes que demuestran potencial.","traccion")\
    .withColumnRenamed("Mercado: El equipo responde conoce, o por lo menos intentar predecir, el tamaño del mercado que impactará.","mercado")\
    .withColumnRenamed("Competencia: El equipo responde adecuadamente ¿Cuáles son las soluciones alternativas al problema que plantea?","competencia")\
    .withColumnRenamed("Modelo de negocio: El equipo responde adecuadamente ¿Cómo hará dinero? ","modelo_negocio")\
    .withColumnRenamed("Inversión: El equipo responde adecuadamente ¿Cuál es su presupuesto y cuánto espera ganar?","inversion")\
    .withColumnRenamed("Contacto: El equipo deja los datos al cliente y muestra cómo pueden contactarle.","contacto")\
    .withColumnRenamed("Exposición: ¿Qué tan coordinados estaban los expositores?","exp_coordinacion")\
    .withColumnRenamed("Exposición: ¿Los expositores se expresaron con claridad y se hicieron entender?","exp_claridad")\
    .withColumnRenamed("Exposición: Las diapositivas son claras y coherentes y apoyaron adecuadamente la exposición.","exp_diapositivas")\
    .withColumnRenamed("Suponiendo que eres inversionista, ¿Estarías dispuesto a invertir dinero en este equipo? (esta pregunta no se pondera en la nota)","pregunta_invertiria")\
    .withColumnRenamed("Observaciones para el equipo, estas observaciones las debe considerar el equipo para mejorar la siguiente presentación.","observaciones")

##Crea tabla temporal evaluación
df_evaluacion.createOrReplaceTempView('evaluacion')

In [6]:
##Revisa creación de tablas
ContextoSql.sql("SHOW TABLES").show()

+--------+----------+-----------+
|database| tableName|isTemporary|
+--------+----------+-----------+
|        |asistencia|       true|
|        |evaluacion|       true|
+--------+----------+-----------+

In [8]:
# 2. Consulte el listado total de estudiantes (correos electrónicos) del 
# curso de Ingeniería de Software, ordenados alfabéticamente
# Tu código a continuación...

##Consulta valores únicos de asistencia

ContextoSql.sql("""

SELECT DISTINCT nombre_usuario FROM asistencia

ORDER BY nombre_usuario 

""").show()

+--------------------+
|      nombre_usuario|
+--------------------+
| abanolc@unal.edu.co|
|acastrillonv@unal...|
| aflemag@unal.edu.co|
|anapariciom@unal....|
|angutierrezb@unal...|
|anoriega@unal.edu.co|
|auarbelaeza@unal....|
| bocampo@unal.edu.co|
|cgiraldo@unal.edu.co|
|cjfunezg@unal.edu.co|
|cquinchiar@unal.e...|
| dadazam@unal.edu.co|
|daestradam@unal.e...|
|davgarciava@unal....|
|dballesteroso@una...|
|  dbrito@unal.edu.co|
|dcadavid@unal.edu.co|
|dcardonaal@unal.e...|
|dchavarriar@unal....|
|dgarciabl@unal.ed...|
+--------------------+
only showing top 20 rows

In [9]:
# 3. Consulte la cantidad de asistencias registradas por estudiante; además, la fecha y hora de la primera asistencia
# y la fecha y hora de la última asistencia
# Tu código a continuación...

##Consulta agrupando por nombre de usuario cuenta las asistencias y muestra fecha max y min
ContextoSql.sql("""
SELECT nombre_usuario, 
        COUNT(nombre_usuario) AS asistencia_usuario, 
        MAX(fecha) AS ultima_asistencia, 
        MIN(fecha) AS primer_asistencia 
FROM 
        asistencia 

GROUP BY 
        nombre_usuario
        
""").show()

+--------------------+------------------+--------------------+--------------------+
|      nombre_usuario|asistencia_usuario|   ultima_asistencia|   primer_asistencia|
+--------------------+------------------+--------------------+--------------------+
|samolinap@unal.ed...|                10|2021/04/13 9:37:2...|2021/04/08 8:11:4...|
| jruedat@unal.edu.co|                 8|2021/04/13 9:41:2...|2021/04/08 8:12:5...|
|nvalenciat@unal.e...|                 8|2021/04/13 9:39:3...|2021/04/08 8:10:1...|
|serendona@unal.ed...|                 8|2021/04/13 9:40:2...|2021/04/08 8:10:4...|
|jgutierrezlo@unal...|                 8|2021/04/13 9:39:0...|2021/04/08 8:12:0...|
|dgerenal@unal.edu.co|                 8|2021/04/13 9:41:2...|2021/04/08 8:10:0...|
|cjfunezg@unal.edu.co|                 8|2021/04/13 9:41:4...|2021/04/08 8:12:1...|
|emflorezb@unal.ed...|                 8|2021/04/13 9:45:4...|2021/04/08 8:14:0...|
|dchavarriar@unal....|                 8|2021/04/13 9:43:5...|2021/04/08 8:13:0...|
|fguerrerot@unal.e...|                 8|2021/04/13 9:40:1...|2021/04/08 8:13:0...|
|jdroldano@unal.ed...|                 1|2021/04/08 8:20:1...|2021/04/08 8:20:1...|
|jovillarrealm@una...|                10|2021/04/13 9:42:5...|2021/04/08 10:02:...|
|juriveras@unal.ed...|                 8|2021/04/13 9:41:1...|2021/04/08 8:13:3...|
|dguardia@unal.edu.co|                 8|2021/04/13 9:40:3...|2021/04/08 8:12:5...|
| lrdiaza@unal.edu.co|                 7|2021/04/13 9:45:2...|2021/04/08 8:14:5...|
|fmiranda@unal.edu.co|                 8|2021/04/13 9:45:0...|2021/04/08 8:10:1...|
|dcadavid@unal.edu.co|                 8|2021/04/13 9:40:5...|2021/04/08 8:13:0...|
| bocampo@unal.edu.co|                 8|2021/04/13 9:42:1...|2021/04/08 8:13:3...|
|rmbuilesm@unal.ed...|                 9|2021/04/13 9:41:3...|2021/04/08 8:14:1...|
|jmunozhe@unal.edu.co|                 8|2021/04/13 9:10:1...|2021/04/08 8:09:5...|
+--------------------+------------------+--------------------+--------------------+
only showing top 20 rows

In [10]:
# 4. Consulte el listado de estudiantes que asistieron a 2 presentaciones o menos (una).
# Tu código a continuación...



ContextoSql.sql("""
--De la consulta interna de asistencias consulta las asistencias de 2 o menos
SELECT nombre_usuario

FROM
    --Hace consulta interna de asistencias
    (SELECT nombre_usuario, 
            COUNT(nombre_usuario) AS asistencia_usuario 

    FROM 
            asistencia 

    GROUP BY 
            nombre_usuario)
WHERE
    asistencia_usuario <= 2
""").show()

+--------------------+
|      nombre_usuario|
+--------------------+
|jdroldano@unal.ed...|
+--------------------+

In [11]:
# 5. Consulte el listado de estudiantes que no asistieron a ninguna presentación.
# Tu código a continuación...

ContextoSql.sql("""
--De las asistencias extrae las = a cero
SELECT nombre_usuario

FROM
    --Consulta interna de asistencias
    (SELECT nombre_usuario, 
            COUNT(nombre_usuario) AS asistencia_usuario 

    FROM 
            asistencia 

    GROUP BY 
            nombre_usuario)
WHERE
    asistencia_usuario == 0
""").show()

+--------------+
|nombre_usuario|
+--------------+
+--------------+

In [12]:
# 6. Consulte los integrantes por cada equipo al que pertenecen.
# Tu código a continuación...

ContextoSql.sql("""
--Consulta integrantes de cada equipo en un array

SELECT SUBSTRING(equipo_pertenece,14) AS equipo,
        collect_set(nombre_usuario) AS integrantes

FROM 
        asistencia 

GROUP BY 
        equipo_pertenece
        
""").show()

+--------------------+--------------------+
|              equipo|         integrantes|
+--------------------+--------------------+
| Gestión de Menús...|[lmazo@unal.edu.c...|
| Lo tengo y te lo...|[dgarciabl@unal.e...|
| Administración d...|[kmolano@unal.edu...|
| Servicios a domi...|[jruedat@unal.edu...|
|       Te lo cambio.|[fguerrerot@unal....|
| Gestión de Resid...|[mcarvajalsa@unal...|
| Gestión de progr...|[acastrillonv@una...|
|     Mi Sanandresito|[juochoag@unal.ed...|
+--------------------+--------------------+

In [13]:
# 7. Consulte la cantidad de asistentes por presentación, sin considerar los asistentes que pertenecen 
# al equipo que realizó la presentación.
# Tu código a continuación...

ContextoSql.sql("""

--Consulta información de asistencias a cada presentación sin incluir los que pertenecen al equipo

SELECT
    equipo_expone,
    COUNT(nombre_usuario)

FROM
        
    --Consulta datos de equipos sin la parte inicial del campo de tabla asistencia
        
    (SELECT SUBSTRING(equipo_pertenece,15) AS equipo_pertenece,
            nombre_usuario,
            SUBSTRING(equipo_expone,9) AS equipo_expone

    FROM asistencia)
    -----

WHERE
    equipo_pertenece != equipo_expone

GROUP BY
    equipo_expone
        
""").show()

+--------------------+---------------------+
|       equipo_expone|count(nombre_usuario)|
+--------------------+---------------------+
|Servicios a domic...|                   76|
|Lo tengo y te lo ...|                   75|
|Gestión de Reside...|                   72|
|       Te lo cambio.|                   75|
|Administración de...|                   70|
|Deserción de estu...|                    3|
|Gestión de Menús ...|                   72|
|Gestión de progra...|                   74|
|     Mi Sanandresito|                   72|
+--------------------+---------------------+

In [15]:
# 8. Consutar cuáles integrantes evaluaron a su propio equipo. Estas evaluaciones no serán válidas, pues un
# integrante no puede evaluar a su propio equipo.
# Tu código a continuación...

ContextoSql.sql("""

--Consulta personas que pertenecen al mismo equipo que evaluan **

SELECT
    nombre_usuario,
    equipo_pertenece,
    equipo_expone

FROM
    
    --Consulta datos de equipos sin la parte inicial del campo de tabla asistencia **
    
    (SELECT SUBSTRING(equipo_pertenece,15) AS equipo_pertenece,
            nombre_usuario,
            SUBSTRING(equipo_expone,9) AS equipo_expone

    FROM asistencia)
    ---------

WHERE
    equipo_pertenece = equipo_expone
        
""").show()

+--------------------+--------------------+--------------------+
|      nombre_usuario|    equipo_pertenece|       equipo_expone|
+--------------------+--------------------+--------------------+
|jppinedal@unal.ed...|Servicios a domic...|Servicios a domic...|
|dgarciabl@unal.ed...|Lo tengo y te lo ...|Lo tengo y te lo ...|
|dgerenal@unal.edu.co|       Te lo cambio.|       Te lo cambio.|
|nvalenciat@unal.e...|       Te lo cambio.|       Te lo cambio.|
|juortizt@unal.edu.co|       Te lo cambio.|       Te lo cambio.|
|mimorenov@unal.ed...|       Te lo cambio.|       Te lo cambio.|
|parestrepoo@unal....|       Te lo cambio.|       Te lo cambio.|
|jgutierrezlo@unal...|       Te lo cambio.|       Te lo cambio.|
|fguerrerot@unal.e...|       Te lo cambio.|       Te lo cambio.|
|sasalazarr@unal.e...|       Te lo cambio.|       Te lo cambio.|
|dballesteroso@una...|       Te lo cambio.|       Te lo cambio.|
|anoriega@unal.edu.co|       Te lo cambio.|       Te lo cambio.|
|jovillarrealm@una...|     Mi Sanandresito|     Mi Sanandresito|
|sasalazarr@unal.e...|       Te lo cambio.|       Te lo cambio.|
|rmbuilesm@unal.ed...|Administración de...|Administración de...|
|sednarvaezna@unal...|Administración de...|Administración de...|
|saespinosab@unal....|Administración de...|Administración de...|
|framirezf@unal.ed...|Administración de...|Administración de...|
|samolinap@unal.ed...|Administración de...|Administración de...|
|lumarinb@unal.edu.co|Administración de...|Administración de...|
+--------------------+--------------------+--------------------+
only showing top 20 rows

In [41]:
# 9. Consultar la nota promedio por cada ítem (1 al 15), y la nota promedio total del cada equipo. Recuerde que no
# son válidas las evaluaciones realizadas por los miembros del mismos equipo.
# Tu código a continuación...

df_resultado = SesionSpark.sql("""

---------Crea columna Nota final
SELECT *,
       ROUND(((Avgintroduccion + Avgequipo + Avgproblema + Avgventajas + Avgsolucion + Avgproducton + 
                    Avgtraccion + Avgmercado + Avgcompetencia + Avgmodelo_negocio + Avginversion + 
                    Avgcontacto + Avgexp_coordinacion + Avgexp_claridad + Avgexp_diapositivas )/15.0),2) AS NotaFinal
FROM

    ------------Ejecuta promedio columnas
    (SELECT Equipo_evaluar,
            ROUND(AVG(introduccion),2)      AS Avgintroduccion,
            ROUND(AVG(equipo),2)            AS Avgequipo,
            ROUND(AVG(problema),2)          AS Avgproblema,
            ROUND(AVG(ventajas),2)          AS Avgventajas,
            ROUND(AVG(solucion),2)          AS Avgsolucion,
            ROUND(AVG(producto),2)          AS Avgproducton,
            ROUND(AVG(traccion),2)          AS Avgtraccion,
            ROUND(AVG(mercado),2)           AS Avgmercado,
            ROUND(AVG(competencia),2)       AS Avgcompetencia,
            ROUND(AVG(modelo_negocio),2)    AS Avgmodelo_negocio,
            ROUND(AVG(inversion),2)         AS Avginversion,
            ROUND(AVG(contacto),2)          AS Avgcontacto,
            ROUND(AVG(exp_coordinacion),2)  AS Avgexp_coordinacion,
            ROUND(AVG(exp_claridad),2) AS   Avgexp_claridad,
            ROUND(AVG(exp_diapositivas),2)  AS Avgexp_diapositivas

    FROM

        ----------consulta los registros de evaluaciones realizadas por miembros de diferentes equipos al equipo evaluado
        (SELECT *

        FROM
        
            ----------Hace búsqueda de equipo al que pertenece cada estudiante que evalua desde tabla asistencia 
            (SELECT *, 
                    (SELECT SUBSTRING(equipo_pertenece,15) AS equipo_pertenece FROM asistencia as A WHERE A.nombre_usuario = nombre_usuario LIMIT 1) As equipo_pertenece
            FROM evaluacion)
            ----------
            
        WHERE equipo_pertenece != Equipo_evaluar)
        --------------------------------------------------------------------
    
    GROUP BY Equipo_evaluar)
        
 """)

df_resultado.show()

+--------------------+---------------+---------+-----------+-----------+-----------+------------+-----------+----------+--------------+-----------------+------------+-----------+-------------------+---------------+-------------------+---------+
|      Equipo_evaluar|Avgintroduccion|Avgequipo|Avgproblema|Avgventajas|Avgsolucion|Avgproducton|Avgtraccion|Avgmercado|Avgcompetencia|Avgmodelo_negocio|Avginversion|Avgcontacto|Avgexp_coordinacion|Avgexp_claridad|Avgexp_diapositivas|NotaFinal|
+--------------------+---------------+---------+-----------+-----------+-----------+------------+-----------+----------+--------------+-----------------+------------+-----------+-------------------+---------------+-------------------+---------+
|Lo tengo y te lo ...|           4.48|     4.61|       4.27|       4.42|       4.42|        4.72|       4.35|      4.25|          4.48|             4.46|        4.35|       4.59|               4.52|           4.61|               4.62|     4.48|
|Gestión de Reside...|           4.55|     4.42|       4.64|       4.45|       4.46|        4.12|       4.52|      4.67|          4.41|             4.52|        4.33|       4.64|               4.41|           4.52|               4.41|     4.47|
|       Te lo cambio.|           4.35|     4.04|       4.21|       4.01|       4.45|        4.82|       4.08|      4.08|          4.21|             4.32|        3.62|       4.49|               4.58|           4.46|               4.54|     4.28|
|Administración de...|           4.13|      4.4|       3.97|       3.93|       4.19|        4.44|       4.04|      4.41|          3.96|              4.4|        4.11|       4.16|               4.33|           4.21|               4.13|     4.19|
|Deserción de estu...|            4.5|      5.0|        5.0|        5.0|        4.5|         5.0|        5.0|       4.5|           5.0|              4.5|         4.5|        5.0|                4.5|            4.5|                5.0|     4.77|
|Gestión de Menús ...|           4.32|     3.97|       4.56|       4.33|       4.37|        4.03|       4.19|      4.23|          4.29|             4.63|         4.3|       4.49|               4.44|           4.45|               4.73|     4.36|
|Gestión de progra...|            4.4|      4.4|       4.53|       3.92|       4.33|        4.45|        4.4|      4.49|          4.26|             4.32|        4.52|       4.42|               4.47|           4.48|               4.62|      4.4|
|     Mi Sanandresito|           4.19|      3.9|       4.29|        4.0|       4.32|         4.3|       4.23|      4.38|          3.52|             4.36|        4.37|       4.63|               4.26|           4.16|               4.12|      4.2|
+--------------------+---------------+---------+-----------+-----------+-----------+------------+-----------+----------+--------------+-----------------+------------+-----------+-------------------+---------------+-------------------+---------+

In [42]:
##Crea vista temporal del resultado De promedios de los grupos
df_resultado.createOrReplaceTempView('resultado')

In [63]:
# 10. Consulte el mejor equipo evaluado por cada ítem (según nota promedio. En caso de empate mostrar todos los empatados) 
# y el mejor equipo según el promedio total.
# Tu código a continuación...

##Se consulta por ítem los equipos que presentan el promedio igual al mayor promedio de cada categoría y total
##Se unen las consultas en una sola tabla

ContextoSql.sql("""

SELECT R.Equipo_evaluar, R.Avgintroduccion AS item, X.Nota As Mejor_Promedio

FROM resultado R INNER JOIN (SELECT MAX(Avgintroduccion) AS Nota FROM resultado) X on R.Avgintroduccion = X.Nota

---------------

UNION ALL

---------------

SELECT R.Equipo_evaluar, R.Avgequipo, X.Nota As Mejor_Promedio

FROM resultado R INNER JOIN (SELECT MAX(Avgequipo) AS Nota FROM resultado) X on R.Avgequipo = X.Nota

---------------

UNION ALL

---------------

SELECT R.Equipo_evaluar, R.Avgproblema, X.Nota As Mejor_Promedio

FROM resultado R INNER JOIN (SELECT MAX(Avgproblema) AS Nota FROM resultado) X on R.Avgproblema = X.Nota

---------------

UNION ALL

---------------

SELECT R.Equipo_evaluar, R.Avgventajas, X.Nota As Mejor_Promedio

FROM resultado R INNER JOIN (SELECT MAX(Avgventajas) AS Nota FROM resultado) X on R.Avgventajas = X.Nota

---------------

UNION ALL

---------------

SELECT R.Equipo_evaluar, R.Avgsolucion, X.Nota As Mejor_Promedio

FROM resultado R INNER JOIN (SELECT MAX(Avgsolucion) AS Nota FROM resultado) X on R.Avgsolucion = X.Nota

---------------

UNION ALL

---------------

SELECT R.Equipo_evaluar, R.Avgproducton, X.Nota As Mejor_Promedio

FROM resultado R INNER JOIN (SELECT MAX(Avgproducton) AS Nota FROM resultado) X on R.Avgproducton = X.Nota

---------------

UNION ALL

---------------

SELECT R.Equipo_evaluar, R.Avgtraccion, X.Nota As Mejor_Promedio

FROM resultado R INNER JOIN (SELECT MAX(Avgtraccion) AS Nota FROM resultado) X on R.Avgtraccion = X.Nota

---------------

UNION ALL

---------------

SELECT R.Equipo_evaluar, R.Avgmercado, X.Nota As Mejor_Promedio

FROM resultado R INNER JOIN (SELECT MAX(Avgmercado) AS Nota FROM resultado) X on R.Avgmercado = X.Nota

---------------

UNION ALL

---------------

SELECT R.Equipo_evaluar, R.Avgcompetencia , X.Nota As Mejor_Promedio

FROM resultado R INNER JOIN (SELECT MAX(Avgcompetencia ) AS Nota FROM resultado) X on R.Avgcompetencia  = X.Nota

---------------

UNION ALL

---------------

SELECT R.Equipo_evaluar, R.Avgmodelo_negocio, X.Nota As Mejor_Promedio

FROM resultado R INNER JOIN (SELECT MAX(Avgmodelo_negocio) AS Nota FROM resultado) X on R.Avgmodelo_negocio = X.Nota

---------------

UNION ALL

---------------

SELECT R.Equipo_evaluar, R.Avginversion, X.Nota As Mejor_Promedio

FROM resultado R INNER JOIN (SELECT MAX(Avginversion) AS Nota FROM resultado) X on R.Avginversion = X.Nota

---------------

UNION ALL

---------------

SELECT R.Equipo_evaluar, R.Avgcontacto, X.Nota As Mejor_Promedio

FROM resultado R INNER JOIN (SELECT MAX(Avgcontacto) AS Nota FROM resultado) X on R.Avgcontacto = X.Nota

---------------

UNION ALL

---------------

SELECT R.Equipo_evaluar, R.Avgexp_coordinacion, X.Nota As Mejor_Promedio

FROM resultado R INNER JOIN (SELECT MAX(Avgexp_coordinacion) AS Nota FROM resultado) X on R.Avgexp_coordinacion = X.Nota

---------------

UNION ALL

---------------

SELECT R.Equipo_evaluar, R.Avgexp_claridad, X.Nota As Mejor_Promedio

FROM resultado R INNER JOIN (SELECT MAX(Avgexp_claridad) AS Nota FROM resultado) X on R.Avgexp_claridad = X.Nota

---------------

UNION ALL

---------------

SELECT R.Equipo_evaluar, R.Avgexp_diapositivas, X.Nota As Mejor_Promedio

FROM resultado R INNER JOIN (SELECT MAX(Avgexp_diapositivas) AS Nota FROM resultado) X on R.Avgexp_diapositivas = X.Nota

---------------

UNION ALL

---------------

SELECT R.Equipo_evaluar, R.NotaFinal, X.Nota As Mejor_Promedio

FROM resultado R INNER JOIN (SELECT MAX(NotaFinal) AS Nota FROM resultado) X on R.NotaFinal = X.Nota


 """).show()

+--------------------+----+--------------+
|      Equipo_evaluar|item|Mejor_Promedio|
+--------------------+----+--------------+
|Gestión de Reside...|4.55|          4.55|
|Deserción de estu...| 5.0|           5.0|
|Deserción de estu...| 5.0|           5.0|
|Deserción de estu...| 5.0|           5.0|
|Deserción de estu...| 4.5|           4.5|
|Deserción de estu...| 5.0|           5.0|
|Deserción de estu...| 5.0|           5.0|
|Gestión de Reside...|4.67|          4.67|
|Deserción de estu...| 5.0|           5.0|
|Gestión de Menús ...|4.63|          4.63|
|Gestión de progra...|4.52|          4.52|
|Deserción de estu...| 5.0|           5.0|
|       Te lo cambio.|4.58|          4.58|
|Lo tengo y te lo ...|4.61|          4.61|
|Deserción de estu...| 5.0|           5.0|
|Deserción de estu...|4.77|          4.77|
+--------------------+----+--------------+

In [64]:
# 11. Consulte el peor equipo evaluado por cada ítem (según nota promedio. En caso de empate mostrar todos los empatados) 
# y el peor equipo según el promedio total.
# Tu código a continuación...

##Se consulta por ítem los equipos que presentan el promedio igual al menor promedio de cada categoría y total
##Se unen las consultas en una sola tabla

ContextoSql.sql("""

SELECT R.Equipo_evaluar, R.Avgintroduccion AS item, X.Nota As Mejor_Promedio

FROM resultado R INNER JOIN (SELECT MIN(Avgintroduccion) AS Nota FROM resultado) X on R.Avgintroduccion = X.Nota

---------------

UNION ALL

---------------

SELECT R.Equipo_evaluar, R.Avgequipo, X.Nota As Mejor_Promedio

FROM resultado R INNER JOIN (SELECT MIN(Avgequipo) AS Nota FROM resultado) X on R.Avgequipo = X.Nota

---------------

UNION ALL

---------------

SELECT R.Equipo_evaluar, R.Avgproblema, X.Nota As Mejor_Promedio

FROM resultado R INNER JOIN (SELECT MIN(Avgproblema) AS Nota FROM resultado) X on R.Avgproblema = X.Nota

---------------

UNION ALL

---------------

SELECT R.Equipo_evaluar, R.Avgventajas, X.Nota As Mejor_Promedio

FROM resultado R INNER JOIN (SELECT MIN(Avgventajas) AS Nota FROM resultado) X on R.Avgventajas = X.Nota

---------------

UNION ALL

---------------

SELECT R.Equipo_evaluar, R.Avgsolucion, X.Nota As Mejor_Promedio

FROM resultado R INNER JOIN (SELECT MIN(Avgsolucion) AS Nota FROM resultado) X on R.Avgsolucion = X.Nota

---------------

UNION ALL

---------------

SELECT R.Equipo_evaluar, R.Avgproducton, X.Nota As Mejor_Promedio

FROM resultado R INNER JOIN (SELECT MIN(Avgproducton) AS Nota FROM resultado) X on R.Avgproducton = X.Nota

---------------

UNION ALL

---------------

SELECT R.Equipo_evaluar, R.Avgtraccion, X.Nota As Mejor_Promedio

FROM resultado R INNER JOIN (SELECT MIN(Avgtraccion) AS Nota FROM resultado) X on R.Avgtraccion = X.Nota

---------------

UNION ALL

---------------

SELECT R.Equipo_evaluar, R.Avgmercado, X.Nota As Mejor_Promedio

FROM resultado R INNER JOIN (SELECT MIN(Avgmercado) AS Nota FROM resultado) X on R.Avgmercado = X.Nota

---------------

UNION ALL

---------------

SELECT R.Equipo_evaluar, R.Avgcompetencia , X.Nota As Mejor_Promedio

FROM resultado R INNER JOIN (SELECT MIN(Avgcompetencia ) AS Nota FROM resultado) X on R.Avgcompetencia  = X.Nota

---------------

UNION ALL

---------------

SELECT R.Equipo_evaluar, R.Avgmodelo_negocio, X.Nota As Mejor_Promedio

FROM resultado R INNER JOIN (SELECT MIN(Avgmodelo_negocio) AS Nota FROM resultado) X on R.Avgmodelo_negocio = X.Nota

---------------

UNION ALL

---------------

SELECT R.Equipo_evaluar, R.Avginversion, X.Nota As Mejor_Promedio

FROM resultado R INNER JOIN (SELECT MIN(Avginversion) AS Nota FROM resultado) X on R.Avginversion = X.Nota

---------------

UNION ALL

---------------

SELECT R.Equipo_evaluar, R.Avgcontacto, X.Nota As Mejor_Promedio

FROM resultado R INNER JOIN (SELECT MIN(Avgcontacto) AS Nota FROM resultado) X on R.Avgcontacto = X.Nota

---------------

UNION ALL

---------------

SELECT R.Equipo_evaluar, R.Avgexp_coordinacion, X.Nota As Mejor_Promedio

FROM resultado R INNER JOIN (SELECT MIN(Avgexp_coordinacion) AS Nota FROM resultado) X on R.Avgexp_coordinacion = X.Nota

---------------

UNION ALL

---------------

SELECT R.Equipo_evaluar, R.Avgexp_claridad, X.Nota As Mejor_Promedio

FROM resultado R INNER JOIN (SELECT MIN(Avgexp_claridad) AS Nota FROM resultado) X on R.Avgexp_claridad = X.Nota

---------------

UNION ALL

---------------

SELECT R.Equipo_evaluar, R.Avgexp_diapositivas, X.Nota As Mejor_Promedio

FROM resultado R INNER JOIN (SELECT MIN(Avgexp_diapositivas) AS Nota FROM resultado) X on R.Avgexp_diapositivas = X.Nota

---------------

UNION ALL

---------------

SELECT R.Equipo_evaluar, R.NotaFinal, X.Nota As Mejor_Promedio

FROM resultado R INNER JOIN (SELECT MIN(NotaFinal) AS Nota FROM resultado) X on R.NotaFinal = X.Nota



 """).show()

+--------------------+----+--------------+
|      Equipo_evaluar|item|Mejor_Promedio|
+--------------------+----+--------------+
|Administración de...|4.13|          4.13|
|     Mi Sanandresito| 3.9|           3.9|
|Administración de...|3.97|          3.97|
|Gestión de progra...|3.92|          3.92|
|Administración de...|4.19|          4.19|
|Gestión de Menús ...|4.03|          4.03|
|Administración de...|4.04|          4.04|
|       Te lo cambio.|4.08|          4.08|
|     Mi Sanandresito|3.52|          3.52|
|       Te lo cambio.|4.32|          4.32|
|Gestión de progra...|4.32|          4.32|
|       Te lo cambio.|3.62|          3.62|
|Administración de...|4.16|          4.16|
|     Mi Sanandresito|4.26|          4.26|
|     Mi Sanandresito|4.16|          4.16|
|     Mi Sanandresito|4.12|          4.12|
|Administración de...|4.19|          4.19|
+--------------------+----+--------------+

In [76]:
# 12. Consulte la lista de estudiantes con la correspondiente nota obtenida en la presentación 
# (nota promedio total de la evaluación obtenida por el equipo)
# Tu código a continuación...



ContextoSql.sql("""

---- Se realiza Join de equipo al que pertenece el estudiante y el equipo evaluado para extraer la Nota Final de las Evaluaciones

SELECT DISTINCT A.nombre_usuario, R.NotaFinal

FROM
    
    ------Se extrae nota final de los equipos evaluados
    
    (SELECT nombre_usuario, SUBSTRING(equipo_pertenece,15) AS  Equipo_pertenece

    FROM asistencia) A



INNER JOIN (SELECT Equipo_evaluar, NotaFinal FROM resultado) R ON A.Equipo_pertenece = R.Equipo_evaluar

ORDER BY A.nombre_usuario

""").show()

+--------------------+---------+
|      nombre_usuario|NotaFinal|
+--------------------+---------+
| abanolc@unal.edu.co|     4.36|
|acastrillonv@unal...|      4.4|
| aflemag@unal.edu.co|      4.2|
|anapariciom@unal....|     4.36|
|angutierrezb@unal...|     4.19|
|anoriega@unal.edu.co|     4.28|
|auarbelaeza@unal....|     4.47|
|cgiraldo@unal.edu.co|     4.47|
|cquinchiar@unal.e...|     4.47|
| dadazam@unal.edu.co|      4.2|
|daestradam@unal.e...|     4.48|
|davgarciava@unal....|     4.36|
|dballesteroso@una...|     4.28|
|  dbrito@unal.edu.co|     4.47|
|dcadavid@unal.edu.co|      4.2|
|dcardonaal@unal.e...|     4.47|
|dchavarriar@unal....|      4.4|
|dgarciabl@unal.ed...|     4.48|
|dgerenal@unal.edu.co|     4.28|
|dgiraldolo@unal.e...|     4.48|
+--------------------+---------+
only showing top 20 rows